/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
/*font-family: 'IBM Plex Serif', serif;*/



body{
background-image: url(images/background/quiz-background.jpeg);
text-align: center;

}

header{
  margin:  50px  0  75px  0;
}

h1{
  font-family: 'IBM Plex Serif', serif;
  display: inline;
  border:solid black;
  background-color: cornsilk;
  border-radius: 8px;
  align-self: center;
  margin: 15px;
  padding: 5px;
}

main{
  font-family: 'IBM Plex Serif', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  margin: 0 50px 0 50px;
}

.box{
  background-color: cornsilk;
  border:solid black;
  font-size: 20px;
  padding: 20px;
  border-radius: 15px;
}

form{
  display: flow-root;
  flex-direction: column;
}

input{
  background-color: cornsilk;
  border:solid black;
  border-radius: 8px;
}

img{
  object-fit: scale-down;
  height: 60%;
  width: 60%;
}

@media all and ( min-width: 1000px){
  img{
    height: auto;
    width: auto;
  }
}

